body{
    margin: 0px;
    background-color:rgb(255, 255, 255);
    overflow-x: hidden;
  
}

 img,h3, nav, a{
    margin: 0px;
 }



.top_bar{
    display: flex;
    justify-content: space-between;
    background-color:rgb(255, 255, 255);
    padding: 25px;
    align-items: center;
    box-shadow: 4px 4px 4px 3.5px rgba(150, 144, 144, 0.301);
}

.Logo_namebrand {
    margin-left: 12%;
    display: flex;
    align-items: center;
    
}

.Logo_namebrand h3{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Logo_namebrand img {
    margin-right: 20px; 
    height: 60px;
    width: 150px;
}

.top_bar nav{
    top: 3%;
    left: 65%;
    margin-right: 10%;

 
}

.top_bar nav i:hover{
   color: rgb(214, 157, 0);
 
}

.top_bar nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    position: relative;
    display: inline-block;
}

.top_bar nav a::after {
    content: '';
    position: absolute;
    margin-top: 5px;
    height: 2px;
    width: 0;
    left: 50%;
    display: block;
    background: rgb(0, 0, 0);
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
}

.top_bar nav a:hover::after {
    width: 100%;
    left: 0;
    background: rgb(214, 157, 0); 
}


.top_bar nav i{
    margin: 0 10px;
    font-size: 20px;
}




.containerimg {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 6%;
    
  
}

.containerimg img {
    width: 100%;
    height: 100%;

}

.containerimg .shopbtn {
    position: absolute;
    top: 62%;
    left: 17%;
    padding: 20px 30px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    color: #212121;
 z-index: 1;
 background: #e8e8e8;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
}

.containerimg .shopbtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 350ms
   }

   


.containerimg .shopbtn:hover{
    color: #e8e8e8;
}

.containerimg .shopbtn:hover::before {
    width: 100%;
   }


.containerimg p{
    position: absolute;
    top: 25%;
    left: 17%;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.containerimg strong{
    text-transform: uppercase;
    font-size: 35px;
}

.containerimg span{
    color: rgb(214, 157, 0); 
}

#new .newproducts{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}


#new .newproducts img{
    height: 450px;
    width: 450px;
    margin: 0 15px 3rem;
    display: block;
    
}


#new .details{
    position: absolute;
    width: 100%;
    top:67%;
    left: 15%;
    
}

#new .details h2{
    color: rgb(0, 0, 0); 
}

#new .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 6.2%;
    height: 450px;
    width: 450px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.445) ;
  
}

#new .one:hover .overlay {
    opacity: 1;
    background-color: rgba(214, 157, 0, 0.438); 

  }

#new .btnshop1{
    border: none;
    position: absolute;
    top: 30%;
    left:43%;
    background: none;
    font-size: 60px;
    outline: none;
    color: rgb(0, 0, 0);

}



#new .btnshop1:hover{
    color: rgb(255, 255, 255);
 
}

#new .txt{
        position: absolute;
        width: 94.6%;
        top: 76.9%;
        left: 6.3%;
        color:rgb(255, 255, 255);
        font-family: "Arsenal", sans-serif;
        font-weight: 400;
        letter-spacing: 2px;
       
        
        
}

#new .txt:hover{
    opacity: 0;
}

#featured h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#new .txt{
    background-color: rgba(0, 0, 0, 0.466);
    padding: 10px 20px;
}

.featured_items {
    display: flex; /* Aligns the child containers next to each other */
    flex-wrap: wrap; /* Ensures items wrap to a new row if there's not enough space */
    left: -25%;
}


 .container{
  width: auto;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px 5px rgba(138, 138, 138, 0.479);
    top: 0;
    left: 0;
    height: 300px;
    width: 225px;
    border-radius: 5px;
    position: relative;
}


.fitem1 img{
    height: 250px;
    top: -50px;
    width: 200px;
    position: relative;
    left: 11.5px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.fitem1 img:hover{
    transform: translateY(-20px);
}







.fitem1 h3 {
    text-align: center; /* Keep the text centered */
    top: -8%;
    position: relative;
    margin: 0; /* Remove default margins to better control spacing */
}

 .star{
    top: -13%;
    position: relative;
    left: 20px;
    gap: 2px;
    left:35%;
    color: black;
    
}


/* For screens between 992px and 1280px */
@media (max-width: 1280px){
    .col-lg-4 {
        flex: 0 0 30%; /* 100% / 4 columns = 25% */
        max-width: 60%;
    }
}

@media (max-width: 576px) {
    .col-12 {
        flex: 0 0 100%; /* 100% / 1 column = 100% */
        max-width: 100%;
    }
}

.socmed {
    padding: 150px;
    background-color: rgb(46, 46, 46); 
    box-shadow: 0px -4px 4px 3.5px rgba(150, 144, 144, 0.637);

}



/* Option for hiding when hovering an image it will hide the star 
.container:hover .fitem1 p{
    opacity: 0;
}
*/

/* Option for hiding when hovering an image it will hide the text
.container:hover .fitem1 h3{
    opacity: 0;
}
    */













